In [6]:
import pandas as pd

In [7]:
df =pd.read_csv('emails.csv')

In [8]:
df

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [20]:
z=df.drop('Email No.' ,axis=1)
x=z.drop('Prediction', axis=1)
y=df['Prediction']

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [22]:
x_train.shape

(4137, 3000)

In [23]:
x_test.shape

(1035, 3000)

In [28]:
from  sklearn.neighbors import KNeighborsClassifier

In [30]:
knn=KNeighborsClassifier(n_neighbors=5)
model=knn.fit(x_train,y_train)
knn_predictions=knn.predict(x_test)

In [31]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

print("KNN Performance")
print(classification_report(y_test, knn_predictions))
print("\n-------------------------------------------------")
print("Accuracy:", accuracy_score(y_test, knn_predictions))
print("\n-------------------------------------------------")
print("Confusion Matrix:\n", confusion_matrix(y_test, knn_predictions))

KNN Performance
              precision    recall  f1-score   support

           0       0.93      0.87      0.90       739
           1       0.73      0.84      0.78       296

    accuracy                           0.86      1035
   macro avg       0.83      0.86      0.84      1035
weighted avg       0.87      0.86      0.87      1035


-------------------------------------------------
Accuracy: 0.8628019323671497

-------------------------------------------------
Confusion Matrix:
 [[645  94]
 [ 48 248]]

In [37]:
from sklearn.svm import SVC
svm=SVC(kernel='rbf')
svm.fit(x_train,y_train)
svm_predictions=svm.predict(x_test)

In [38]:
print("\nSVM Performance")
print(classification_report(y_test, svm_predictions))
print("\n-------------------------------------------------")
print("Accuracy:", accuracy_score(y_test, svm_predictions))
print("\n-------------------------------------------------")
print("Confusion Matrix:\n", confusion_matrix(y_test, svm_predictions))

SVM Performance
              precision    recall  f1-score   support

           0       0.80      0.98      0.88       739
           1       0.91      0.40      0.56       296

    accuracy                           0.82      1035
   macro avg       0.86      0.69      0.72      1035
weighted avg       0.83      0.82      0.79      1035


-------------------------------------------------
Accuracy: 0.8173913043478261

-------------------------------------------------
Confusion Matrix:
 [[727  12]
 [177 119]]